@model GolpaMotorFinal.Models.ViewModels.SearchBoxViewModel

<div class="search-component-page">

    <div class="search"
         id="searchBox-@Model.ComponentId"
         data-component-id="@Model.ComponentId"
         data-action="@Url.Action(Model.Action, Model.Controller)"
         data-target="@Model.UpdateTargetId"
         data-ajax="@Model.UseAjax">

        <div class="search__field">

            <input id="searchInput-@Model.ComponentId"
                   class="search__input"
                   type="search"
                   name="@Model.SearchParameterName"
                   value="@Model.SearchTerm"
                   placeholder="@Model.Placeholder"
                   autocomplete="off" />

            <button id="searchButton-@Model.ComponentId"
                    type="button"
                    class="search__button">

                <i class="fa-solid fa-magnifying-glass"></i>

            </button>

        </div>

    </div>

</div>