@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap-5.3.8-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/fontawesome-free-6.7.2-web/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/fonts/fontawesome-free-6.7.2-web/css/all.min.css" rel="stylesheet" />
    <link href="~/css/adminlayout.css" rel="stylesheet" />
    <link href="~/css/account.css" rel="stylesheet" />
    <link href="~/fonts/vazirmatn-master/vazirmatn-font-face.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css">


    @RenderSection("Styles", false)

</head>

<body>
    <div class="d-flex">
        <partial name="_AdminSidebar" />
        @* @if (TempData["AlertMessage"] != null)
        {
            <script>
                        showOperationResult(
                             @TempData["AlertSuccess"]!.ToString()!.ToLower(),
                            '@Html.Raw(TempData["AlertMessage"])'
                        );
            </script>
        } *@
        <div class="main w-100">
            <partial name="_AdminHeader" />
            <div class="content p-4">
                @RenderBody()
            </div>
            <partial name="_AdminFooter" />
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-5.3.8-dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>

        //Dynamic General SearchBox viewcomponents

        $(document).on("click", ".search__button", function (e) {

            e.preventDefault();
        
            var searchBox = $(this).closest(".search");
        
            var componentId = searchBox.data("component-id");
            var url = searchBox.data("action");
            var target = searchBox.data("target");
        
            var input = $("#searchInput-" + componentId);
        
            $.ajax({
        
                url: url,
                type: "POST",
        
                data: {
                    __RequestVerificationToken:
                        $('input[name="__RequestVerificationToken"]').first().val(),
        
                    [input.attr("name")]: input.val()
                },
        
                success: function (html) {
        
                    $("#" + target).html(html);
        
                },
        
                error: function (xhr) {
        
                    console.log(xhr.responseText);
        
                }
        
            });
        
        });
    </script>

    @await Component.InvokeAsync("Allert")
    @RenderSection("Scripts", false)

    
</body>
</html>